.sty{
    border: 5px solid #6EA96F;
    margin: 1em 1em 3em 1em;
    padding: 2em 1em 1em 1em;

}
.dos{
    margin-bottom: 4em;
}
.imgs{
    margin: -1em;
}
h3{
    text-align: center;
}
p{
    font-size: 18px;
}