<h2 style="text-transform: uppercase;">{{tipo}}</h2>
<div class="izq">
    <button type="button" *ngIf="exist == true" style="text-decoration: none"  [routerLink]="['/agregar-usuarios']" class="btn btn-success ss">AGREGAR {{tipo}}</button>
</div>
<div class="marg">
    <table class="table mar">
        <thead class="thead-dark">
            <tr>
                <th colspan="2" scope="col">NOMBRE</th>
                <th scope="col">TELEFONO</th>
            </tr>
        </thead>
        <tbody *ngIf="productoresSelec.length != 0 ">
            <tr *ngFor="let prod of productoresSelec | paginate: config" (click)="ChoosePac(prod._id)">
                <td colspan="2" >{{ prod.nombre }} {{ prod.apellidoPa }}</td>
                <td>{{ prod.telefono }}</td>
            </tr>

        </tbody>
      
        <tbody *ngIf="productoresSelec.length == 0">
            <tr>
                <td>No hay conexión a internet</td>
            </tr>
        </tbody>
    </table>
    <div>
        <pagination-controls id="basicPaginate" (pageChange)="pageChanged($event)"></pagination-controls>

    </div>
</div>